<nav class="flex justify-between px-5 py-5">
    <h1 class="font-black text-4xl text-gray-600">
        Stream<span class="text-orange-500">Flix</span>
    </h1>
    <div class="flex space-x-4">
        <a routerLink="/">
            <button type="button"
                class="px-5 py-1 outline-dotted text-orange-400 rounded-full hover:bg-rose-950 hover:text-white">
                Video Upload
            </button>
        </a>
        <a routerLink="/feed">
            <button class="px-5 py-1 outline-dashed text-blue-400 rounded-full hover:bg-indigo-950 hover:text-white">
                Watch Videos
            </button>
        </a>
    </div>
</nav>