<div class="app">
    <div *ngIf="loading">
        <p>Loading...</p>
    </div>

    <div class="video-feed grid grid-cols-1 md:grid-cols-3 gap-6" *ngIf="!loading">
        <div *ngFor="let video of videos" class="max-w-sm bg-white border border-gray-200 rounded-lg shadow-md">
            <video [attr.src]="'https://streamflix.koyeb.app/api/v1/videos/stream/' + video.videoId + '/master.m3u8'"
                [attr.poster]="'https://streamflix.koyeb.app/api/v1/videos/stream/thumb/' + video.videoId" controls
                style="width: 300px; height: 300px;"></video>

            <div class="p-5">
                <h5 class="text-2xl font-semibold tracking-tight text-gray-900">{{ video.title }}</h5>
                <p class="text-gray-800 text-sm mt-2">{{ video.description }}</p>
                <button (click)="handleDelete(video.videoId)"
                    class="mt-4 text-white bg-red-500 hover:bg-red-600 focus:outline-none focus:ring-4 focus:ring-red-300 font-medium rounded-sm text-sm px-4 py-2">
                    Delete
                </button>
            </div>
        </div>
    </div>